{% extends "base.html" %}

{% block content %}
  <h1>
    {{ car.model }}
    <a href="{% url 'taxi:car-delete' pk=car.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'taxi:car-update' pk=car.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>
  <p>Manufacturer: ({{ car.manufacturer.name }}, {{ car.manufacturer.country }})</p>
  <h1>Drivers</h1>
  <hr>
  <ul>
    {% for driver in car.drivers.all %}
      <li>{{ driver.username }} ({{ driver.first_name }} {{ driver.last_name }})</li>
      <p>License number: {{ driver.license_number }}</p>
      <hr>
    {% endfor %}
  </ul>
  {% if is_driver_assigned %}
    <a href="{% url 'taxi:delete-from-car' car.id %}?next={{ request.path }}" class="btn btn-primary link-to-page">
      Delete me from this car
    </a>
  {% else %}
    <a href="{% url 'taxi:add-to-car' car.id %}?next={{ request.path }}" class="btn btn-primary link-to-page">
      Assign me to this car
    </a>
  {% endif %}
{% endblock %}
